<h3 style="color:#395B64;font-size:30px;text-align:center">Python - using SQLite database</h3>

----

<div style="width:100%;text-align: center;"> <img align=middle
src="https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg" alt="Heat beating" style="height:300px;margin-top:3rem;"> </div>

<b style="color:#BB6464;font-size:18px">References:</b>

* www.python.org
* www.sqlite.org

<h4 style="color:#24A19C;font-size:24px;text-align:center">About SQLite database</h4>

----

<p style="color:#1C658C"><i>"SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. " - SQLlite.org</i></p>

<ul style="color:#2C2C34">
<li>SQLite is a database engine, written in the C language. It is a library that software developers embed in their apps.</li>
<li>It belongs to the family of embedded database.</li>
<li>It is the most widely deployed database engine, as it is used by several of the top web browsers, operating systems, mobile phones, and other embedded systems.</li>
<li>SQLite stores the entire database (definitions, tables, indices, and the data itself) as a single cross-platform file on a host machine.</li>
<li>The SQLite engine has no standalone processes with which the application program communicates.</li>
<li>Due to the server-less design, SQLite applications require less configuration than clientâ€“server databases.</li>
<li>SQLite implements most of the SQL-92 standard for SQL, but lacks some features.</li>
<li>Tables normally include a hidden rowid index column, which gives faster access.</li>
<li>Filename extension: .sqlite3, .sqlite, .db</li>    
</ul>

In [1]:
import os
import sqlite3

In [2]:
#Version number of SQLite3 module
sqlite3.version

C:\Users\eng20\AppData\Local\Temp\ipykernel_26324\1136253820.py:2: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  sqlite3.version

'2.6.0'

In [3]:
# Version number of the run-time SQLite library
sqlite3.sqlite_version

'3.45.3'

<h4 style="color:#24A19C;font-size:24px;text-align:center">Create SQLite database</h4>

----

<p style="color:#2C2C34;font-size:16px"><i>connect() opens a connection to the SQLite database file database. By default returns a Connection object, unless a custom factory is given.</i></p>

<b>Syntax:</b>
`sqlite3.connect(database[, timeout, detect_types, isolation_level, check_same_thread, factory, cached_statements, uri])`

<p style="color:#2C2C34">where, database -> database is a <b>path-like object</b> which is pathname of the database file to be opened.</p>

In [4]:
# Create SQLite3 database with name test.db in the current directory
db_connection = sqlite3.connect('test.db')

In [5]:
os.listdir()

['1.c',
 '1.ipynb',
 '1.py',
 '2_kaggle_Data _file.ipynb',
 '3_titanic.ipynb',
 'Data.csv',
 'Python_SQLite_database (1).ipynb',
 'tempCodeRunnerFile.py',
 'test.db',
 'tit.ipynb',
 'train.csv']

<h4 style="color:#24A19C;font-size:24px;text-align:center">SQLite3 Database SQL Overview</h4>

----

<b style="color:#BB6464;font-size:18px">create table</b>

`create table if not exists <table-name> (<column-name> <data-type> <column-constraint>, <column-name> <data-type> <column-constraint>,...);`
    
<b style="color:#BB6464;font-size:18px">create index</b>

`create <unique> index if not exists <index-name> on <table-name>(<column-name>);`

<b style="color:#BB6464;font-size:18px">insert</b>

`insert into <table-name>(<column-name>,<column-name>,<column-name>,...)
 values(<value>,<value>,<value>,...);`

<b style="color:#BB6464;font-size:18px">update</b>

`update <table-name>
 set <column-name> = <expr>
 where expr`

<b style="color:#BB6464;font-size:18px">delete</b>

`delete from <table-name>
 where <expr>;`

<b style="color:#BB6464;font-size:18px">alter table</b>

`alter table <table-name>
 rename to <new-table-name>;`

`alter table <table-name>
 rename column <column-name> to <new-column-name>;`

`alter table <table-name>
 add column <column-def>;`

 `alter table <table-name>
 drop column <column-name>;`

<b style="color:#BB6464;font-size:18px">drop table</b>

`drop table if exists <table-name>;`

<b style="color:#BB6464;font-size:18px">savepoint</b>

`savepoint <savepoint-name>;`

`release savepoint <savepoint-name>;`

`rollback transation to savepoint <savepoint-name>;`

<b style="color:#BB6464;font-size:18px">create view</b>

`create view if not exists <view-name> as <select-stmt>;`

<b style="color:#BB6464;font-size:18px">select</b>

`select <expr> as column-alias
 from <table-name>/<sub-query>
 where <expr>
 group by <expr>
 having <expr>
 order by <expr> <asc>/<desc> nulls <first>/<last>;`

<h4 style="color:#24A19C;font-size:24px;text-align:center">Database operations using sqlite3.Cursor class methods</h4>

----

<table class="table table-stripped" style="font-size:16px;">
  <tr>
    <th>Cursor function</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>execute()</td>
    <td>Executes an SQL statement.</td>
  </tr>
  <tr>
    <td>executemany()</td>
    <td>Executes a parameterized SQL command against all parameter sequences or mappings.</td>
  </tr>
  <tr>
    <td>executescript()</td>
    <td>Nonstandard convenience method for executing multiple SQL statements at once.</td>
  </tr>
  <tr>
    <td>fetchone()</td>
    <td>Fetches the next row of a query result set, returning a single sequence, or None when no more data is available.</td>
  </tr>
  <tr>
    <td>fetchmany()</td>
    <td>Fetches the next set of rows of a query result, returning a list. An empty list is returned when no more rows are available.</td>
  </tr>
  <tr>
      <td>fetchall()</td>
    <td>Fetches all (remaining) rows of a query result, returning a list.</td>
  </tr>
  <tr>
    <td>close()</td>
    <td>Close the cursor now.</td>
  </tr>
</table>

<p style="color:#2C2C34;font-size:16px">Steps to execute SQL query in SQLite3 database:

<ol>
<li style="font-size:16px;">Open databse connection</li>
<li style="font-size:16px;">Instantiate sqlite3.Cursor class</li>
<li style="font-size:16px;">Execute database queries using cursor functions/methods</li>
<li style="font-size:16px;">Close the cursor</li>
<li style="font-size:16px;">Close the database connection</li>
</ol>
</p>

In [6]:
# Create cursor object
cur = db_connection.cursor()

In [7]:
cur.execute("create table if not exists employees \
            (firstname text, lastname text, gender text, designation text, \
             department text, supervisor integer);")

In [8]:
cur.execute("insert into employees \
             values('Martin','Taylor','Male','Chief Executive Officer','CEO',null);")
db_connection.commit()

cur.execute("insert into employees \
             values('Ron','Williams','Male','Marketing Manager','Marketing',1);")
db_connection.commit()

cur.execute("insert into employees \
             values('Mike','Copperfield','Male','Chief Financial Officer','Administration',1);")
db_connection.commit()

cur.execute("insert into employees \
             values('Michael','Williams','Male','Information Services Manager','Administration',1);")
db_connection.commit()

cur.execute("insert into employees \
             values('Kim','Marshall','Female','Vice Pesident of Sales','Sales',1);")
db_connection.commit()

cur.execute("insert into employees \
             values('Linda','Smith','Female','Human Resources Manager','Administration',3);")
db_connection.commit()
cur.close()

<h4 style="color:#24A19C;font-size:24px;text-align:center">Quering database tables</h4>

----

In [9]:
cur = db_connection.cursor()
cur.execute("select * from employees;")
emp_list = cur.fetchall()
print('Number of records retrieved: ',len(emp_list))
cur.close()

Number of records retrieved:  30

In [10]:
for idx,emp in enumerate(emp_list):
    print(idx,emp)

0 ('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
1 ('Ron', 'Williams', 'Male', 'Marketing Manager', 'Marketing', 1)
2 ('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
3 ('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
4 ('Kim', 'Marshall', 'Female', 'Vice Pesident of Sales', 'Sales', 1)
5 ('Linda', 'Smith', 'Female', 'Human Resources Manager', 'Administration', 3)
6 ('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
7 ('Ron', 'Williams', 'Male', 'Marketing Manager', 'Marketing', 1)
8 ('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
9 ('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
10 ('Kim', 'Marshall', 'Female', 'Vice Pesident of Sales', 'Sales', 1)
11 ('Linda', 'Smith', 'Female', 'Human Resources Manager', 'Administration', 3)
12 ('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
13 ('Ron', 'Williams', 'Male', 'Marketing Manager', 'Marketing', 1)
14 ('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
15 ('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
16 ('Kim', 'Marshall', 'Female', 'Vice Pesident of Sales', 'Sales', 1)
17 ('Linda', 'Smith', 'Female', 'Human Resources Manager', 'Administration', 3)
18 ('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
19 ('Ron', 'Williams', 'Male', 'Marketing Manager', 'Marketing', 1)
20 ('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
21 ('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
22 ('Kim', 'Marshall', 'Female', 'Vice Pesident of Sales', 'Sales', 1)
23 ('Linda', 'Smith', 'Female', 'Human Resources Manager', 'Administration', 3)
24 ('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
25 ('Ron', 'Williams', 'Male', 'Marketing Manager', 'Marketing', 1)
26 ('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
27 ('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
28 ('Kim', 'Marshall', 'Female', 'Vice Pesident of Sales', 'Sales', 1)
29 ('Linda', 'Smith', 'Female', 'Human Resources Manager', 'Administration', 3)

<h4 style="color:#24A19C;font-size:24px;text-align:center">Named style placeholders</h4>

----

In [11]:
cur = db_connection.cursor()
cur.execute("SELECT * FROM employees WHERE firstname LIKE :name", {"name": "M%"})
result = cur.fetchall()
for row in result:
    print(row)
cur.close()

('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)
('Martin', 'Taylor', 'Male', 'Chief Executive Officer', 'CEO', None)
('Mike', 'Copperfield', 'Male', 'Chief Financial Officer', 'Administration', 1)
('Michael', 'Williams', 'Male', 'Information Services Manager', 'Administration', 1)

<h4 style="color:#24A19C;font-size:24px;text-align:center">Aggregation Query</h4>

----

In [12]:
cur = db_connection.cursor()
cur.execute("SELECT department, COUNT(*) as count FROM employees GROUP BY department")
aggregation_result = cur.fetchall()
for row in aggregation_result:
    print(row)
cur.close()

('Administration', 15)
('CEO', 5)
('Marketing', 5)
('Sales', 5)

<h4 style="color:#24A19C;font-size:24px;text-align:center">Transactions</h4>

----

In [20]:
try:
    # Start a transaction
    db_connection.execute("BEGIN")
    
    # Create a cursor object
    cur = db_connection.cursor()
    
    # Update employee records with multiple WHERE conditions
    cur.execute("""
        UPDATE employees
        SET department = 'IT'
        WHERE department = 'Sales' AND gender = 'Male'
    """)
    
    # Delete employee records with multiple WHERE conditions
    cur.execute("""
        DELETE FROM employees
        WHERE department = 'Marketing' OR designation = 'HR Specialist'
    """)
    
    # Commit the transaction
    db_connection.commit()
    print("Transaction committed successfully.")
    
except sqlite3.Error as e:
    # Rollback the transaction in case of error
    db_connection.rollback()
    print("Transaction failed and rolled back. Error:", e)
    
finally:
    # Close the cursor
    cur.close()

Transaction committed successfully.

<h4 style="color:#24A19C;font-size:24px;text-align:center">Execute multiple SQL statements at once</h4>

----

In [17]:
cur = db_connection.cursor()
cur.executescript("""
    INSERT INTO employees VALUES ('Alice', 'Johnson', 'Female', 'Product Manager', 'Product', 2);
    INSERT INTO employees VALUES ('Bob', 'Brown', 'Male', 'UX Designer', 'Design', 2);
    INSERT INTO employees VALUES ('Charlie', 'Davis', 'Male', 'DevOps Engineer', 'IT', 2);
""")
db_connection.commit()
cur.close()

print("Inserted 3 records into the employees table.")

Inserted 3 records into the employees table.

<h4 style="color:#24A19C;font-size:24px;text-align:center">executemany() -  Parameterized SQL command</h4>

----

In [16]:
cur = db_connection.cursor()

# List of tuples containing employee data
employee_data = [
    ('John', 'Doe', 'Male', 'Software Engineer', 'IT', 2),
    ('Jane', 'Doe', 'Female', 'Data Scientist', 'IT', 2),
    ('Alice', 'Johnson', 'Female', 'Product Manager', 'Product', 2),
    ('Bob', 'Brown', 'Male', 'UX Designer', 'Design', 2),
    ('Charlie', 'Davis', 'Male', 'DevOps Engineer', 'IT', 2)
]

# Parameterized SQL command
sql_command = "INSERT INTO employees VALUES (?, ?, ?, ?, ?, ?)"

# Execute the command with the list of tuples
cur.executemany(sql_command, employee_data)
db_connection.commit()
cur.close()

print("Inserted {} records into the employees table.".format(len(employee_data)))

Inserted 5 records into the employees table.

<h4 style="color:#24A19C;font-size:24px;text-align:center">rowcount - attribute</h4>

----

In [19]:
cur = db_connection.cursor()
cur.execute("DELETE FROM employees WHERE department = 'CEO'")
db_connection.commit()
print("Number of rows deleted:", cur.rowcount)
cur.close()

Number of rows deleted: 5

To be continued...